.about{
    margin: auto;
    margin-left: 90px;
    height: 100%;
    margin-right: 100px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.para p{
    margin: 20px;
    /* margin-right: 100px; */
    font-size: 20px;
}

.heading1{
    margin: 20px;
}

.heading1 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading2{
    margin: 20px;
}

.heading2 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading3{
    margin: 20px;
}

.heading3 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading4{
    margin: 20px;
}

.heading4 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading5{
    margin: 20px;
}

.heading5 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading6{
    margin: 20px;
}

.heading6 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading7{
    margin: 20px;
}

.heading7 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading8{
    margin: 20px;
}

.heading8 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading9{
    margin: 20px;
}

.heading9 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.heading10{
    margin: 20px;
}

.heading10 p{
    margin: 1px;
    margin-top: 20px;
    font-size: 20px;
}

.img{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img img{
    height: 200px;
    width: 100%;
}